<% @body_id = 'cart' %>

<h1><%= t("shopping_cart")%></h1>

<% form_for(@order, :url => object_url, :html => { :method => :put, :id => 'updatecart' }) do |order_form| %>
  <%= render :partial => 'form', :locals => {:order_form => order_form} %>
  <% unless @order.line_items.empty? -%>
  <div id="subtotal">
    <h3><%= "#{t("subtotal")}: #{order_price(@order)}" %></h3>
    <div class="links">
      <%= link_to image_tag('/images/update.png') + t("update"), '#', :class => 'button checkout primary', :onclick => "$('form#updatecart').submit(); return false;" %>
      <%= link_to image_tag('/images/checkout.png') + t("checkout"), edit_order_checkout_url(@order), :class => 'button checkout primary' %>		
    </div>
  </div>
  <% end -%>
  <p><%=link_to t("continue_shopping"), products_path, :class => 'button continue' %></p>
  <% unless @order.line_items.empty? -%>
  <p id="clear_cart_link">
    <%= link_to t("empty_cart"), object_url, :method => :delete, :class => 'button empty' %>
  </p>
  <% end -%>
<% end -%>
<% unless @order.line_items.empty? -%>
<%@gateway = Gateway.find_by_clazz "Google4R::Checkout::Frontend"%>
		<% @gw = GatewayConfiguration.find_by_gateway_id(@gateway.id)%>
		
    <%if @gw.present? && @gw.gateway_option_values[0].value.present? && @gw.gateway_option_values[1].value.present?%> 
		<%# link_to image_tag("http://sandbox.google.com/checkout/buttons/checkout.gif?merchant_id=114190407551986 &w=180&h=46&style=white&variant=text&loc=en_US"), google_checkout_order_path(@order, {:format => :xml})%>
		<form method="POST" 
			 action="https://sandbox.google.com/checkout/api/checkout/v2/checkout/Merchant/114190407551986">
				<%= hidden_field_tag :cart, "#{Base64.b64encode(@response)}"%>
				<%= hidden_field_tag :signature, "#{signature(@response, '15DT8YcdHi_4Ns3_tefnxA')}"%>
				 <%= puts "=-=-=-=-=-=-=-=-#{@response}"%>
			 <input type="image" name="Google Checkout" alt="Fast checkout through Google"
				  src="http://sandbox.google.com/checkout/buttons/checkout.gif?merchant_id=114190407551986
						  &w=180&h=46&style=white&variant=text&loc=en_GB"  height="46" width="180">
		</form>

	 <%end%>
	 <%end%>
